@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Imperial+Script&family=Passions+Conflict&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.4/font/bootstrap-icons.min.css");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {
    --main_color: #673DE6;
    --bg_color: #2f1c6a;
    --title_color: #2f1c6a;
    --special_button_color: #e2dbfc;
    --nav_color: #1D1E20;

}




.navigation_bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.main_logo img {
    width: 147px;
    padding: 29px 0 29px 40px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    width: 1083px;
    word-spacing: 32px;
    gap: 32px;


}

.nav_list a {
    text-decoration: none;
    color: 29, 30, 32;
    font-size: 16px;
    color: var(--nav_color);
}

.new {
    background-color: #def4f0;
    color: #008361;
    width: 43.98px;
    gap: 8px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    font-weight: 700px;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 70px;
    top: 2px;
    color: var(--nav_color);
    text-decoration: none;
    padding: 20px 40px;
}

.language img {
    width: 36px;
}

.language_text {
    font-size: 16px;
}

.language a {
    color: var(--nav_color);
    text-decoration: none;
    font-weight: 700;
}

.log_in {
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border: #1D1E20 2px solid;
    border-radius: 10px;
    word-wrap: normal;
}

.Log_in_text {
    width: 45.4px;
    color: #2f1c6a;

}

.banner_container {
    display: flex;
    flex-direction: row;
    max-width: 1025px;
    width: 100vw;
    padding: 124px 15px 96px;
    margin: 10px 80px 130px 80px;
    gap: 20px;
    align-items: center;
}


.hero_image {
    display: block;
    position: absolute;
    right: 5%;
    top: 250px;
    padding-bottom: 15px;
}

.hero_text h1 {
    display: flex;
    color: var(--bg_color);
    font-size: 36px;
    max-width: 440px;
    padding-bottom: 10px;

}

img {
    display: block;
    max-width: 880px;
    align-items: start;
    position: relative;
    height: auto;
}

.subtitle {

    font-size: 20px;
    padding-bottom: 5px;
    width: 440px;
}

.sub_one {
    color: var(--bg_color);
    font-weight: bold;
}

.sub_three {
    color: var(--bg_color);
    font-weight: bold;
}

.sub_two {
    color: var(--main_color);
    font-weight: bolder;
    padding: 0 5px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 440px;
}

.list {
    display: flex;
    flex-direction: row;

}

.text {
    display: flex;
    flex-direction: column;
    color: var(--title_color);
}

.bi-check-lg {
    color: #008361;
    background-color: transparent;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.bi-question-circle {
    color: #000000;
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    gap: 5px;
}

.list li {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
}

.price_text {
    display: block;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}


.coin,.p_month {
    font-size: 20px;
    color: var(--title_color);
    line-height: 1;
}

.usd {
    font-size: 36px;
    color: var(--title_color);
    font-weight: 700;
}

.many_months span{
    font-size: 18px;
    font-weight: 700;
    color: var(--title_color);

}
.claim{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px ;
    
}
.claim_button{
    background-color: var(--main_color);
    width: 181.64px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding: 12px 48px;
}
.claim_button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.time{
    background-color: var(--special_button_color);
    width: 160px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding: 12px 20px;
}
.container_migration {
    width: 1016, 32px;
    height: 704px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f1c56;
    padding: 40px;
    margin: 40px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.Container_card {
    display: flex;
    flex-direction: row;
    width: 1016.32px;
    padding: 15px, 15px;
    border-radius: 10px black solid;
    gap: 15px;

}

.card span {
    margin-top: 5px;
}

.card {
    margin-top: 100px;
    background-color: #2f1c6a;
    width: 296.11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;

}

.card2 {
    margin-top: 100px;
    background-color: #2f1c6a;
    width: 296.11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;
}

.card3 {
    margin-top: 100px;
    background-color: #2f1c6a;
    width: 296.11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;
}

.card_text {
    color: white;
    margin: 30px 5px 5px;
    width: 232.1px;
    margin-top: 0;

}

.card_text h3 {
    margin: 0;
    text-align: left;
}

.card_text span {
    text-align: center;
    padding-top: 2px;
}

.card_icon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0;
    align-items: start;

}

i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #673de6;
    width: 30px;
    height: 30px;
    color: white;
    margin-bottom: 5px;
}






.title_migration {
    display: flex;
    flex-direction: column;
    width: 1128px;
    height: 48px;
    text-align: center;
    color: white;
}

p {
    margin-top: 14px;
}

h3 {
    padding-bottom: 5px;
    width: 296px;
    height: 24px;
    font-size: 18px;
}

span {
    width: 296px;
    height: 96px;
    font-size: 16px;
}




.button_migration {
    background-color: #673de6;
    width: 190px;
    height: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;

}

.button_migration a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;



}



.bi-send {
    background-color: transparent;
}

.container-kodee {
    background-color: #673DE6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 119.85px;
    height: 40px;
    border: #6956a6 solid 1px;
    border-radius: 17px;
    position: fixed;
    right: 0;
    bottom: 5px;
    margin: 5px;
    z-index: 1000;
}

.icon_kodee {
    width: 16px;
    color: white;
    background-color: transparent;

}

.text_kodee {
    width: 71.85px;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    padding: 0 8px 0 0;
    text-align: center;
    color: white;
    margin: 10px;
    white-space: nowrap;

}