@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.4/font/bootstrap-icons.min.css");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
     
}
body{
    overflow-x: hidden;
}

:root {
    --main_color: #673DE6;
    --bg_color: #2f1c6a;
    --title_color: #2f1c6a;
    --special_button_color: #e2dbfc;
    --nav_color: #1D1E20;
}


.navigation_bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 20px 5px 0px 5px;
}

.main_logo img {
    max-width: 147px;
    width: auto;
    padding: 10px 0 10px 20px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    max-width: 1083px;
    width: 100vw;
    gap: 10px;


}

.nav_list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(29, 30, 32);
    font-size: 16px;
    color: var(--nav_color);
    gap: 2px;
}

.new {
    background-color: #008361;
    width: ;
    color: #99d8c7;
    border-radius: 2px;
}

.bi-arrow-down-short{
    background-color: white;
    color: #000000;
    width: 24px;
    margin: 0;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 20px;
    top: 2px;
    color: var(--nav_color);
    text-decoration: none;
    
}

.language img {
    max-width: 36px;
}

.language_text {
    font-size: 16px;
}

.language a {
    color: var(--nav_color);
    text-decoration: none;
    font-weight: 700;
}

.log_in {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: #1D1E20 2px solid;
    border-radius: 10px;
    word-wrap: normal;
}

.log_in_text {
    color: #2f1c6a;


}

.log_in a {
    width: 45.4px;

}

.banner_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    max-width: 1025px;
    width: 100vw;
    padding: 36px 20px 96px;

}


.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 0px 10px 0px 50px;
    max-width: 440px;
    width: 100vw;

}

.hero_text h1 {
    display: flex;
    color: var(--bg_color);
    font-size: 36px;
    max-width: 440px;
    width: 100vw;



}

.hero_image {
    display: flex;
    padding-bottom: 20px;
    right: 5px;
    align-items: flex-start;

}


img {
    display: block;
    max-width: 880px;


}

.subtitle {

    font-size: 20px;
    padding-bottom: 5px;
    max-width: 440px;
    width: 100vw;

}

.sub_one {
    color: var(--bg_color);
    font-weight: bold;
}

.sub_three {
    color: var(--bg_color);
    font-weight: bold;
}

.sub_two {
    color: var(--main_color);
    font-weight: bolder;
    padding: 0 5px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    max-width: 440px;
    width: 100vw;
}

.list {
    display: flex;
    flex-direction: row;

}

.text {
    display: flex;
    flex-direction: column;
    color: var(--title_color);
}

.bi-check-lg {
    color: #008361;
    background-color: transparent;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.bi-question-circle {
    color: #000000;
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    gap: 5px;
}

.list li {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
}

.price_text {
    display: block;
    flex-direction: row;
    align-items: start;
    gap: 6px;
}


.coin,
.p_month {
    font-size: 20px;
    color: var(--title_color);
    line-height: 1;
}

.usd {
    font-size: 36px;
    color: var(--title_color);
    font-weight: 700;
}

.many_months span {
    font-size: 18px;
    font-weight: 700;
    color: var(--title_color);

}

.claim {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;

}

.claim_button {
    background-color: var(--main_color);
    width: 181.64px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding: 12px 48px;
}

.claim_button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.time {
    background-color: var(--special_button_color);
    width: 160px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding: 12px 20px;
}

.container_migration {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2f1c56;
    padding: 30px;
    margin-top: 5px;
    position: relative;
    z-index: 1;
}

.Container_card {
    display: flex;
    flex-direction: row;
    max-width: 1016.32px;
    padding: 2px 5px;
    border-radius: 10px black solid;
    gap: 15px;

}

.card span {
    margin-top: 5px;
}

.card {
    margin-top: 100px;
    background-color: #2f1c6a;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;
    width: 100vw;
    max-width: 296px;

}

.card2 {
    margin-top: 100px;
    background-color: #2f1c6a;
    width: 296.11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;
    width: 100vw;
    max-width: 296px;

}

.card3 {
    margin-top: 100px;
    background-color: #2f1c6a;
    width: 296.11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: start;
    text-align: left;
    width: 100vw;
    max-width: 296px;

}

.card_text {
    color: white;
    margin: 30px 5px 5px;
    width: 232.1px;
    margin-top: 0;

}

.card_text h3 {
    margin: 0;
    text-align: left;
}

.card_text span {
    text-align: center;
    padding-top: 2px;
}

.card_icon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0;
    align-items: start;

}

i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #673de6;
    width: 30px;
    height: 30px;
    color: white;
    margin-bottom: 5px;
}


.title_migration {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1128px;
    text-align: center;
    color: white;
}

p {
    margin-top: 10px;
}

h3 {
    padding-bottom: 5px;
    width: 296px;
    height: 24px;
    font-size: 18px;
}

span {
    width: 296px;
    height: 96px;
    font-size: 16px;
}




.button_migration {
    background-color: #673de6;
    width: 190px;
    height: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;

}

.button_migration a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;



}



.bi-send {
    background-color: transparent;
}

.container-kodee {
    background-color: #673DE6;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    width: 120px;
    border: #6956a6 solid 1px;
    border-radius: 15px;
    position: fixed;
    right: 10px;
    bottom: 5px;
    gap: 5px;
    z-index: 1000;
}

.icon_kodee {
    display: flex;
    align-self: auto;
    width: 15px;
    color: white;
    background-color: transparent;
}

.text_kodee {
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    text-align:right;
    color: white;
    white-space: nowrap;

}

footer {
    display: flex;
    flex-direction: row;
    margin: 5px;

    justify-content: space-between;
    flex-wrap: wrap;


}

.left img {
    width: 147px;
    padding: 10px 0 10px 20px;
    margin-top: 2px;
}

footer a {
    text-decoration: none;
    color: var(--bg_color);
}

footer .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    width: 965px;
    margin: 5px;
    padding: 10px 0 10px 20px;





}

.social_logos {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 5px;
    justify-content: flex-end;
    right: 10px;




}

.social_logos a {
    color: white;
    background-color: #2f1c56;
    width: 32px;
    border-radius: 3px;
}

.social_logos .bi {
    background-color: transparent;
    width: 26.88px;
    width: 32px;
}

.policies {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 5px;
    justify-content: flex-end;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
   

}

.copyright p {
    margin: 0px;
    height: 0;
    padding: 0px;
    flex: 1;
    padding-bottom: 10px;
}

.copyright span {
    height: 0;
    padding-bottom: 10px;
}

.creadit_cards{
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: start;
    max-width: 100%;
    overflow-x: auto;
    
    
}
.creadit_cards img{
    width: 70px;
    
}

.creadit_cards span{
color: var(--main_color);
font-size: 12px;
font-weight: bold;

}


@media (max-width: 768px) {
    .navigation_bar {
        gap: 10px;
    }

    .nav_list {
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero_text {
        max-width: 90%;
        margin: 10px 0;
    }

    .hero_text h1 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 18px;
    }

    .items {
        max-width: 90%;
    }

    .claim_button {
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }
    .hero_image{
        width: 700px;
    }
    .hero_image img{
        max-width: 700px;
    }

    .Container_card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card, .card2, .card3 {
        width: 85%;
        margin-top: 20px;
    }

    .price_text {
        font-size: 18px;
    }
}
@media (max-width: 1024px) {
      .nav_list {
        display: none;
    }

    .language {
        display: none;
    }
    .hero_text {
        max-width: 80%;
    }

    .hero_text h1 {
        font-size: 32px;
    }

    .subtitle {
        font-size: 18px;
    }

    .items {
        max-width: 80%;
    }

    .claim_button {
        width: auto;
        padding: 12px 20px;
        font-size: 16px;
    }
    .hero_image img{
        width: 700px;
    }

    .Container_card {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .card, .card2, .card3 {
        width: 30%;
        margin-top: 30px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .social_logos {
        justify-content: flex-start;
    }

    .creadit_cards {
        flex-direction: row;
        justify-content: flex-start;
    }
    .banner_container {
        display: flex;
        flex-direction: column;
    }

    .container_migration {
        display: flex;
        flex-direction: column;
    }
    .title_migration {
        display: flex;
        flex-direction: column;
    }
    .container_migration p{
        display: flex;
        flex-wrap: wrap;   
        flex-direction: column;
        text-align: center;
    }
    .Container_card{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 1366px) {
    .hero_text {
        max-width: 70%;
    }

    .hero_text h1 {
        font-size: 36px;
    }

    .items {
        max-width: 70%;
    }
.container_migration{
    flex-direction: column;
}
    .Container_card {
        flex-direction: column;
        gap: 15px;
    }


    footer {
        justify-content: space-between;
    }
}
@media (max-width: 2000px) {

    .banner_container{
        display: flex;
        flex-direction: column;
    }
    .hero_text {
        max-width: 60%;
    }

    .hero_text h1 {
        font-size: 40px;
    }

    .subtitle {
        font-size: 22px;
    }

    .items {
        max-width: 60%;
    }

    .Container_card {
        gap: 20px;
    }

    .card, .card2, .card3 {
        width: 100vw;
        margin-top: 50px;
    }

    footer {
        align-items: center;
    }
    .social_logos, .policies, .language{
        margin-right: 500px;
    }
    .copyright span{
        
        margin-right: 800px;
    }
}






/*
@media (max-width: 1024px) {
    .nav_list {
        display: none;
    }

    .language {
        display: none;
    }

    .banner_container {
        display: flex;
        flex-direction: column;
    }

    .container_migration {
        display: flex;
        flex-direction: column;
    }
    .title_migration {
        display: flex;
        flex-direction: column;
    }
    .container_migration p{
        display: flex;
        flex-wrap: wrap;   
        flex-direction: column;
        text-align: center;
    }
    .Container_card{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 2000px) {
    

    .social_logos {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-left: 50px;
        
    }
    
}




.
/*
@media (max-width: 2000px) {
    

    .right {
        display: flex;
        margin-left: 1000px;
        
    }
    
}
@media (max-width: 1024px) {
    .nav_list {
        display: none;
    }

    .language {
        display: none;
    }

    .banner_container {
        display: flex;
        flex-direction: column;
    }

    .container_migration {
        display: flex;
        flex-direction: column;
    }
    .title_migration {
        display: flex;
        flex-direction: column;
    }
    .container_migration p{
        display: flex;
        width: 100vw;
        flex-direction: column;
        text-align: center;
    }
    .Container_card{
        display: flex;
        flex-direction: column;
    }
}